@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap-content p {
    margin-bottom: 0.5rem;
}

.tiptap-content ul,
.tiptap-content ol {
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.tiptap-content ul {
    list-style-type: disc;
}

.tiptap-content ol {
    list-style-type: decimal;
}

.tiptap-content h1,
.tiptap-content h2,
.tiptap-content h3 {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.tiptap-content h1 {
    font-size: 1.5rem;
}
.tiptap-content h2 {
    font-size: 1.25rem;
}
.tiptap-content h3 {
    font-size: 1.1rem;
}
